/* #libraryMain {
    border: 1px solid black;
    height: 100%;
    width: 80%;
} */

/* #single {
    border: 1px solid black;
    background-color: purple;
    height: 100%;
    width: 80%;
    flex-grow: 1;
} */

/* #librarySub {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: center;
} */

.item {
    /* flex-grow: 1; */
    margin: 10px;
    /* width: 200px; */
    
}

#multiple.library {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
}

#main.library {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: center;
    
}

    /* align-content: flex-start; */
    /* align-items: flex-start; */