#mainBody {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.sidebar {
    width: 200px;
}

.library {
    display: flex;
    flex-direction: row;
    justify-content: center;
}